USE [master]
GO
/****** Object:  Database [VoteDB]    Script Date: 6/11/2015 12:54:52 PM ******/
CREATE DATABASE [VoteDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VoteDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\VoteDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VoteDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\VoteDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VoteDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VoteDB]
GO
/****** Object:  Table [dbo].[CandidateTable]    Script Date: 6/11/2015 12:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CandidateTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CandidateName] [varchar](50) NOT NULL,
	[CandidateSymbol] [varchar](50) NOT NULL,
	[NoOfVote] [int] NOT NULL,
 CONSTRAINT [PK_CandidateTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VoterTable]    Script Date: 6/11/2015 12:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VoterTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VoterId] [varchar](50) NOT NULL,
	[VoterName] [varchar](50) NOT NULL,
	[VoterStatus] [varchar](50) NULL,
 CONSTRAINT [PK_VoterTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CandidateTable] ON 

INSERT [dbo].[CandidateTable] ([Id], [CandidateName], [CandidateSymbol], [NoOfVote]) VALUES (1, N'Rahim', N'Cycle', 2)
INSERT [dbo].[CandidateTable] ([Id], [CandidateName], [CandidateSymbol], [NoOfVote]) VALUES (2, N'Karim', N'Fan', 1)
INSERT [dbo].[CandidateTable] ([Id], [CandidateName], [CandidateSymbol], [NoOfVote]) VALUES (3, N'Amin', N'TV', 1)
SET IDENTITY_INSERT [dbo].[CandidateTable] OFF
SET IDENTITY_INSERT [dbo].[VoterTable] ON 

INSERT [dbo].[VoterTable] ([Id], [VoterId], [VoterName], [VoterStatus]) VALUES (1, N'1231231231231', N'Anik', N'Casted')
INSERT [dbo].[VoterTable] ([Id], [VoterId], [VoterName], [VoterStatus]) VALUES (2, N'1231231231232', N'Anik', N'Casted')
INSERT [dbo].[VoterTable] ([Id], [VoterId], [VoterName], [VoterStatus]) VALUES (3, N'1231231231233', N'Anik', N'Casted')
SET IDENTITY_INSERT [dbo].[VoterTable] OFF
/****** Object:  Index [IX_CandidateTable]    Script Date: 6/11/2015 12:54:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CandidateTable] ON [dbo].[CandidateTable]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CandidateTable_1]    Script Date: 6/11/2015 12:54:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CandidateTable_1] ON [dbo].[CandidateTable]
(
	[CandidateSymbol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VoterTable]    Script Date: 6/11/2015 12:54:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_VoterTable] ON [dbo].[VoterTable]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_VoterTable_1]    Script Date: 6/11/2015 12:54:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_VoterTable_1] ON [dbo].[VoterTable]
(
	[VoterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
